@{
    ViewBag.Title = "About the Beverage Managment Application";
}
<h2>@ViewBag.Title</h2>
<h4>@ViewBag.Message</h4>
<br />
<br />
<p>BMA is your one stop shop for beverage inventory managment.</p>
<br />
<p>To begin, create an account with the Register link at the top of the page.  Once you are registered and logged in, a link titled 
    "Beverages" will appear next to Contact.  Click this link and your entire inventory will be pulled up.
    You may now use the filter options at the top to search for the item you are looking for.  Once you find it, 
    you may use the Edit link to edit the item, Details to see the complete details about it, and Delete to delete the item from 
    your inventory.  Additionally you can click "Create New" to add a new item.</p>
<br />
<p>If you have any questions or concern, please see our contact page.</p>
