@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Beverage Web Applications Inc.<br />
    Johnson, AL 12392<br />
    <abbr title="Phone">P:</abbr>
    282.412.1827
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@BMApp.com">Support@BMApp.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@BMapp.com">Marketing@BMApp.com</a>
</address>