@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <!-- Background for banner found at http://www.apexwineracks.com/Browse.aspx/2848/Wine-Racks -->
    <img src="~/Content/banner.png" style="width:100%; border-radius: 10px;" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fast and Easy</h2>
        <p>
           BMA is the application that meets all your inventory managment needs.  Efficiently Add, Delete, and 
           Edit every item in your inventory, all within the same application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Completly Secure</h2>
        <p>The last thing you need is havingto have your inventory manipulated by an unauthorized person.  BMA uses top of the line 
        encryption to keep your data safe, and opperating effeciantly.</p>
    </div>
    <div class="col-md-4">
        <h2>Getting Started</h2>
        <p>
            Use the "Register" link  above to get started.  
            Once registered you will be able to eaisly access and manipulate your inventory database.
        </p>
        
    </div>
</div>